# Environment
.env
.env.local
.env.sepolia

# Node
node_modules/
frontend/node_modules/

# Java
backend/target/
*.class
*.jar
*.war

# Foundry
contracts/cache/
contracts/out/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
.settings/
.project
.classpath

# Logs
*.log
