# Environment
.env
.env.local
.env.sepolia

# Node
node_modules/
frontend/node_modules/

# Java
backend/target/
*.class
*.jar
*.war

# Hardhat
contracts/cache/
contracts/artifacts/
contracts/dist/
contracts/typechain-types/
contracts/types/
contracts/ignition/deployments/

# Foundry (if needed later)
contracts/out/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
.settings/
.project
.classpath

# Logs
*.log
